@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --corPrincipal: #fdffe7;
    --corSecundaria: #695B51;
    --corHeader: #e7faff;
    --corVerde: #D5DE58;
    --corVerdeHover: #bbc900;
    --corVermelhaAlerta: rgb(255, 120, 80);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}