.header {
    min-height: 30vh;
    background-color: var(--corHeader);
    padding: 48px;
    padding-top: 150px;
}
.dfCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    color: var(--corSecundaria);
}

.img {
    margin-left: 16px;
    width: 64px;
    height: 64px;
}

@media (max-width: 600px) {
    .title {
        margin-top: 8px;
        font-size: 24px;
    }

    .img {        
        width: 48px;
        height: 48px;
    }
}